{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>ODEP Map Report Tool</title>
	<link rel="stylesheet" type="text/css" href="{% static 'print_tracker/js/extjs/resources/css/ext-all.css' %}">
	<script type="text/javascript" src="{% static 'print_tracker/js/extjs/ext.js' %}"></script>
    <script type="text/javascript" src="{% static 'print_tracker/js/app-all.js' %}"></script>
</head>
<body>
	<div id="loading" style="margin: 0 auto; position:relative; left:45%; top: 100px;"><img src="{% static 'print_tracker/img/loading.gif' %}" /></div>
</body>
</html>
