{% extends "base.html" %}
{% load tags %}

{% block title %}Details for tweet {{ tweet.twitter_id }}{% endblock %}

{% block media %}
    
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span3">
            <!-- item detail -->
            <ul>
                <li>Created at: {{ tweet.created_at }}</li>
                <li>Status: {{ tweet.status }}</li>
                <li>User: <a href="https://twitter.com/{{ t.screen_name }}">@{{ tweet.screen_name }}</a></li>
                <li>Places: {{ tweet.the_places }}</li>
            </ul>
            
        </div>
        <div class="span9">
            <!-- map -->
            {% show_places_map tweet.places %}
        </div>
    </div>

{% endblock %}

