{% extends "base.html" %}

{% load pagination_tags %}
{% load tags %}

{% block title %}{{ search_name }}{% endblock %}

{% block content %}

    <div class="row">
          <div class="row">
              <div class="col-md-12">
              <!-- map -->
              {% show_places_map places %}
              </div>
          </div>
          <div class="row">
              <!-- Tweets -->
              <div class="col-md-12">
              <h2>Tweets</h2> export to <a href="{% url 'tweets-list-csv' %}">csv</a>
                    {% autopaginate tweets 10 %}
                    <ul>
                    {% for t in tweets %}
                        <li>
                        <strong><a href="https://twitter.com/{{ t.screen_name }}">@{{ t.screen_name }}</a></strong> on {{ t.created_at }} in {{ t.the_places }}, <a href="{% url 'tweet-detail' t.id %}">{{ t.status|truncatechars:100 }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% paginate %}
              </div>
          </div>
    </div>

{% endblock %}
